/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --primary-orange: hsl(31, 77%, 52%);
  --primary-teal: hsl(184, 100%, 22%);
  --primary-darkteal: hsl(179, 100%, 13%);
  --neutral-white: hsla(0, 0%, 100%, 0.75);
  --neutral-gray: hsl(0, 0%, 95%);
}

body {
  padding: 1em;
  color: var(--neutral-white);
  font-family: "Lexend Deca", serif;
  line-height: 1.5;
  background-color: var(--neutral-white);
}
.wrapper-main {
  display: flex;
  min-height: 90svh;
  justify-content: center;
  align-items: center;
}

.wrapper-shadow {
  box-shadow: 0 0 20px #ccc;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
}

@media screen and (min-width: 800px) {
  .wrapper-shadow {
    flex-direction: row;
  }
}
.wrapper {
  max-width: 20em;
  padding: 3em;
}
.wrapper-shadow > div:first-of-type {
  border-radius: 0.8em 0.8em 0 0;
}
.wrapper-shadow > div:last-of-type {
  border-radius: 0 0 0.8em 0.8em;
}

@media screen and (min-width: 800px) {
  .wrapper-shadow > div:first-of-type {
    border-radius: 0.8em 0 0 0.8em;
  }
  .wrapper-shadow > div:last-of-type {
    border-radius: 0 0.8em 0.8em 0;
  }
}

.wrapper-orange {
  background-color: var(--primary-orange);
}
.wrapper-teal {
  background-color: var(--primary-teal);
}
.wrapper-darkteal {
  background-color: var(--primary-darkteal);
}

.wrapper h2 {
  font-family: "Big Shoulders Display", serif;
  font-size: 2.5rem;
  color: var(--neutral-gray);
}
@media screen and (min-width: 800px) {
  .wrapper p {
    min-height: 12em;
  }
}
.wrapper button {
  border-radius: 1.5em;
  border: 3px solid var(--neutral-white);
  padding: 0.8em 1.5em;
  margin-top: 20px;
  cursor: pointer;
}
.wrapper button:hover {
  background-color: transparent;
  color: var(--neutral-white);
}
.btn-orange {
  color: var(--primary-orange);
}
.btn-teal {
  color: var(--primary-teal);
}
.btn-darkteal {
  color: var(--primary-darkteal);
}

.wrapper img {
  height: auto;
}

.attribution {
  min-height: 3svh;
  margin-top: auto;
  background-color: #ccc;
  font-size: 0.8em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
